.cards{
}

.cards:hover {
    box-shadow: 5px 5px 5px rgb(92, 126, 141);
    border: 1px solid black;
    transform: scale(1.1);
}

.products{
    padding: 30px;
}

/*.text-content{
    height: 80px;
    max-height: 80px;
    overflow:hidden;
    text-overflow:Ellipsis;
}*/

.price{
    margin: 0 0 0 20px;
    font-size: 20px;
}

.modal-image{
    height: 150px;
    width: 150px;
}

.loader{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}