.App-header {
  background-color: #282c34;
  min-height: 30vh;
  color: white;
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

.serach-location{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-bottom: 10px;
}
